<html ng-app>
<link rel="stylesheet" href="css/styles.css">
<script src="./js/angular-1.2.17.js"></script>
<script src="./js/scicalc.js"></script>
<body>
	<div ng-controller='appController'>
        <textarea ng-model='data.textdata' cols=17 rows=1 id='io' style='display : inline'>
			{{data.textdata}}
		</textarea>
		
		<textarea ng-model='label' cols = 4 rows=1 placeholder='label' class='symbol' style='display : none'>
			{{label}}
		</textarea>
		<textarea ng-model='statement' cols = 10 rows=1 placeholder='statement' class='symbol' style='display : none'>
			{{statement}}
		</textarea>
		
		<br><!--I may be able to condense this with a creative ng-repeat-->
		<button ng-click='appendInput("7")'>7</button>
		<button ng-click='appendInput("8")'>8</button>
		<button ng-click='appendInput("9")'>9</button>
		<button ng-click='appendInput("/")'>/</button>
		<button ng-click='addLabel()'>new</button>
		<br>
		<button ng-click='appendInput("4")'>4</button>
		<button ng-click='appendInput("5")'>5</button>
		<button ng-click='appendInput("6")'>6</button>
		<button ng-click='appendInput("*")'>*</button>
		<br>
		<button ng-click='appendInput("1")'>1</button>
		<button ng-click='appendInput("2")'>2</button>
		<button ng-click='appendInput("3")'>3</button>
		<button ng-click='appendInput("-")'>-</button>
		<br>
		<button ng-click='appendInput("0")'>0</button>
		<!--<button ng-click='appendInput(".")'>.</button>-->
		<button ng-click='send()'>=</button>
		<button ng-click='clear()'>C</button>
		<button ng-click='appendInput("+")'>+</button>
	</div>		
</body>

</html>