<html ng-app>

<!--Jasmine-->
<link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.0.3/jasmine_favicon.png">
<link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.0.3/jasmine.css"> 

<script type="text/javascript" src="jasmine/lib/jasmine-2.0.3/jasmine.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-2.0.3/jasmine-html.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-2.0.3/boot.js"></script>

<script type="text/javascript" src="jasmine/spec/SpecScicalc.js"></script>

<script src="js/angular-1.2.17.js"></script>
<script src="js/scicalc.js"></script>
<link rel="stylesheet" href="css/styles.css">


<body>
	<div ng-controller='appController'>
        <textarea ng-model='data.textdata' cols=17 rows=1 id='io' style='display : inline'>
			{{data.textdata}}
		</textarea>
		
		<textarea ng-model='label' cols = 4 rows=1 placeholder='label' class='symbol' style='display : none'>
			{{label}}
		</textarea>
		<textarea ng-model='statement' cols = 11 rows=1 placeholder='statement' class='symbol' style='display : none'>
			{{statement}}
		</textarea>
		
		<br><!--I may be able to condense this with a creative ng-repeat-->
		<button ng-click='appendInput("7")'>7</button>
		<button ng-click='appendInput("8")'>8</button>
		<button ng-click='appendInput("9")'>9</button>
		<button ng-click='appendInput("/")'>/</button>
		<button ng-click='swapUI()'>new</button>
		<br>
		<button ng-click='appendInput("4")'>4</button>
		<button ng-click='appendInput("5")'>5</button>
		<button ng-click='appendInput("6")'>6</button>
		<button ng-click='appendInput("*")'>*</button>
		<button ng-click='saveLabel()'>save</button>
		<br>
		<button ng-click='appendInput("1")'>1</button>
		<button ng-click='appendInput("2")'>2</button>
		<button ng-click='appendInput("3")'>3</button>
		<button ng-click='appendInput("-")'>-</button>
		<br>
		<button ng-click='appendInput("0")'>0</button>
		<button ng-click='appendInput(".")'>.</button>
		<button ng-click='send()'>=</button>
		<button ng-click='clear()'>C</button>
		<button ng-click='appendInput("+")'>+</button>
		<br>
		
		<div ng-repeat="(label,statement) in statements">
			<button ng-click='appendInput(label)'>{{label}}</button>
		</div>
	</div>		
</body>

</html>