<html ng-app>

<!--Jasmine-->
<link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.0.3/jasmine_favicon.png">
<link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.0.3/jasmine.css"> 
<!--
<script type="text/javascript" src="jasmine/lib/jasmine-2.0.3/jasmine.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-2.0.3/jasmine-html.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-2.0.3/boot.js"></script>

<script type="text/javascript" src="jasmine/spec/SpecScicalc.js"></script>
-->
<script src="js/angular-1.2.17.js"></script>
<script src="js/scicalc.js"></script>
<script src="js/getEmPixels.js"></script>
<link rel="stylesheet" href="css/styles.css">


<body>
	<div ng-controller='appController'>
        <textarea ng-model='data.textdata' cols=12 rows=1 id='io' style='display : inline'>
			{{data.textdata}}
		</textarea>
		
		<textarea ng-model='label' cols = 4 rows=1 placeholder='label' class='symbol' style='display : none'>
			{{label}}
		</textarea>
		<textarea ng-model='statement' cols = 11 rows=1 placeholder='statement' class='symbol' style='display : none'>
			{{statement}}
		</textarea>
		
		<br><!--I may be able to condense this with a creative ng-repeat-->
		
		<table id="calculator">
			
			<tr>
				<td>A</td>
				<td>B</td>				
				<td>C</td>				
				<td>X</td>				
				<td>Y</td>				
				<td>Z</td>				
			</tr>
			
			<tr>
				<td ng-click='clear()'><em>Clr</em></td>
				<td ng-click='backspace()'>&#8656</td>			
				<td ng-click='appendInput("7")'>7</td>
				<td ng-click='appendInput("8")'>8</td>
				<td ng-click='appendInput("9")'>9</td>
				<td ng-click='appendInput("/")'>/</td>
			</tr>
			
			<tr>
				<td ng-click='appendInput("(")'>(</td>
				<td ng-click='appendInput(")")'>)</td>			
				<td ng-click='appendInput("4")'>4</td>
				<td ng-click='appendInput("5")'>5</td>
				<td ng-click='appendInput("6")'>6</td>
				<td ng-click='appendInput("*")'>*</td>

			</tr>
			
			<tr>
				<td><em>X<sup>y</sup></em></td>			
				<td><em>X<sup>2</sup></em></td>				
				<td ng-click='appendInput("1")'>1</td>
				<td ng-click='appendInput("2")'>2</td>
				<td ng-click='appendInput("3")'>3</td>
				<td ng-click='appendInput("-")'>-</td>

			</tr>
			
			<tr>
				<td>√</td>				
				<td ng-click='appendInput("%")'>%</td>			
				<td ng-click='appendInput("0")'>0</td>
				<td ng-click='appendInput(".")'>.</td>
				<td ng-click='send()'>=</td>
				<td ng-click='appendInput("+")'>+</td>
			</tr>
		</table>
		<br>
		
		<div ng-repeat="(label,statement) in statements">
			<button ng-click='appendInput(label)'>{{label}}</button>
		</div>
	</div>
</body>

</html>